.content{
    display: flex;
}
.tieude{
    background-color: goldenrod;
    margin-right: 10px;
    padding: 10px 10px;
    color: white;
    transition: background-color 1.5s;
}
.tieude:hover{
background-color: rebeccapurple;
}