
.hehe{
    width: 400px;
    background-color:green;
    border:1px solid red;
    transition: background-color 2s,width 2s;
    height: 100px;
    -webkit-transition: background-color 2s,width 2s;
    -moz-transition: background-color 2s,width 2s;
    -o-transition: background-color 2s,width 2s;
}
.hehe:hover{
    width: 600px;
    background-color: gold;
}
.hehe h1{
    padding-top: 10px;
    padding-left: 20px;
}