
.hehe{
    width: 400px;
    transition: width 2s;
}
.hehe:hover{
    width: 600px;
}
.hehe h1{
    background-color:green;
    border:1px solid red;
    transition: background-color 2s;
    padding-left: 20px;
    padding: 20px;
}
.hehe:hover h1{
    background-color: gold;
}
