.content{
    display: flex;
    flex-wrap: wrap;
}
.hinhdong{
    width:20%;
    text-align: center;
    border: 2px solid gainsboro;
    margin:2%;
    padding-top: 10px;
    transition: transform 1.5s;
}
.hinhdong img{
    width: 90%;
    aspect-ratio: 4/3;
    filter: grayscale(100%);
    transition: filter 1s;
}
.hinhdong:hover{
    transform: scale(1.1);
}
.hinhdong:hover img{
    filter: grayscale(0%);
}